# This workflow builds, tests, and pushes the latest release of the project
# to the Docker registry using Ko. It is triggered manually or via a scheduled
# cron job every Tuesday at 9 AM. When run, it attempts to automate updating
# dependencies and Go (e.g. stdlib) before building and pushing the image.
name: Build latest release

on:
  workflow_dispatch:
  schedule:
    - cron: "0 9 * * 2"

jobs:
  build_test_and_push:
    name: Build, Test, and Push Latest Release
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: 'false'

      - name: Fetch Tags
        run: git fetch --tags

      - name: Get Latest Tag
        id: get_latest_tag
        run: echo "tag=$(git describe --tags `git rev-list --tags --max-count=1`)" >> $GITHUB_ENV

      - name: Checkout Latest Tag
        run: git checkout ${{ env.tag }}

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 'stable'

      - name: Set Go Toolchain to Local
        run: |
          echo "GOTOOLCHAIN=local" >> $GITHUB_ENV
          go version

      - name: Update Go Toolchain in go.mod
        run: |
          GO_VERSION=$(go version | awk '{print $3}' | sed 's/go//')
          go mod edit -go=$GO_VERSION -toolchain=go$GO_VERSION

      - name: Update Go Modules
        run: go get -t -u ./...

      - name: Download Dependencies
        run: go mod download

      - name: Verify Dependencies
        run: go mod verify

      - name: Tidy Go Modules
        run: go mod tidy

      - name: Run Tests
        run: go test -count 1 -v ./...

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Setup Ko
        uses: ko-build/setup-ko@v0.9

      - name: Build and Push Docker Image
        env:
          KO_DOCKER_REPO: ${{ vars.DOCKER_REPO }}
        run: |
          # Remove leading 'v' if present for Docker tags
          git_tag=${{ env.tag }}
          docker_tag=${git_tag#v}
          
          # Get major and minor versions from stripped tag
          major_version=$(echo "$docker_tag" | cut -d. -f1)
          minor_version=$(echo "$docker_tag" | cut -d. -f1-2)
          
          # Build and push the image with ko
          ko build --platform=all --bare --tags latest,$docker_tag,$major_version,$minor_version
